body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Couleur de fond générale */
}

header {
    background-color: #3498db; /* Couleur d'arrière-plan de l'en-tête */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #2980b9; /* Couleur d'arrière-plan de la navigation */
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

section#inscription {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


footer {
    background-color: #2c3e50; /* Couleur d'arrière-plan du pied de page */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

@media screen and (max-width: 768px) {
    section#inscription {
        width: 90%;
    }
}
/* Ajoutez ces styles dans votre fichier style.css ou dans une balise <style> dans l'en-tête HTML */

#inscription {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
select {
    margin-bottom: 16px;
    padding: 8px;
}

button {
    background-color: #4CAF50; /* Couleur de fond du bouton (vert ici) */
    color: #fff; /* Couleur du texte */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Couleur de fond du bouton au survol */
}

footer {
    margin-top: 20px;
    text-align: center;
}
